
  @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

  @font-face {
    font-family: 'love story';
    src: url(../fontes/love\ story\ ttf.ttf);
}

*{margin: 0;}

#banner{
    max-width: 800px;
    height: 500px;
    background-image: url('../imagens/bannerdefinitivo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 30px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.39);
}

.subtitulo{
    text-align: center;
    padding-top: 25px;
    color: white;
    font-family:'Caveat' ;
}



#titulo {
    text-align: center;
    font-size: 80px;
    color: rgb(59, 19, 28);
    text-shadow: -4px 4px 4px rgba(255, 255, 255, 0.301);
    font-family: 'Caveat';
    font-weight: 30px;
}


img{
    
    width: 100%;
}

main{
    background-image: url('../imagens/plano.png');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    color: rgb(247, 241, 241);
    font-size: 25px;
   
}

.historia {
    text-align: justify;
    text-indent: 40px;
    font-family: 'Caveat', cursive;
    max-width: 500px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.616);
    font-size: 30px;
    margin-bottom: 20px;
}
main h1{
    text-align: center;
    padding: 30px;
    font-family: 'Caveat', cursive;
    text-shadow: 1px -1px 10px black;
}

section{
    background-color: #da7d6c;
    height: 600px;
    padding-top: 50px;
    max-width: 800px;
    margin: auto;
}

#confirmaçao{
    background-color: #FFEBF2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    transition: .5s;
    
}

#confirmaçao:hover{
   
    background-color: #d63c20;
    transform:scale(1.5);
}

#pix:hover{
    transform:scale(1.5);
    
    background-color: #d63c20;
}

#local:hover{
    transform:scale(1.5);
    
    background-color: #d63c20;
}

.links{
    text-decoration: none;
    color: black;
    font-family: 'love story';
    display: block;
    padding-top: 40%;
    text-align: center;
}



#pix{
    background-color: #FFEBF2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px auto 50px auto;
    transition: .5s;
   
}

#local{
    background-color: #FFEBF2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    transition: .5s;
   
}

footer{
    background-color:#DC9694 ;
    color: white;
    text-align: center;
    height: 40px;
    padding-top:20px;
    font-family: cursive;
    text-transform: uppercase;
    

}

footer a{
    text-decoration: none;
    color: white;
}



